In [ ]:
import pandas as pd
dtt=pd.read_csv("/content/salary.csv")
print(dtt)

      work_year experience_level employment_type                 job_title  \
0          2023               SE              FT  Principal Data Scientist
1          2023               MI              CT               ML Engineer
2          2023               MI              CT               ML Engineer
3          2023               SE              FT            Data Scientist
4          2023               SE              FT            Data Scientist
...         ...              ...             ...                       ...
3750       2020               SE              FT            Data Scientist
3751       2021               MI              FT  Principal Data Scientist
3752       2020               EN              FT            Data Scientist
3753       2020               EN              CT     Business Data Analyst
3754       2021               SE              FT      Data Science Manager

       salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0       80000             EUR          85847                 ES           100
1       30000             USD          30000                 US           100
2       25500             USD          25500                 US           100
3      175000             USD         175000                 CA           100
4      120000             USD         120000                 CA           100
...       ...             ...            ...                ...           ...
3750   412000             USD         412000                 US           100
3751   151000             USD         151000                 US           100
3752   105000             USD         105000                 US           100
3753   100000             USD         100000                 US           100
3754  7000000             INR          94665                 IN            50

     company_location company_size
0                  ES            L
1                  US            S
2                  US            S
3                  CA            M
4                  CA            M
...               ...          ...
3750               US            L
3751               US            L
3752               US            S
3753               US            L
3754               IN            L

[3755 rows x 11 columns]

In [ ]:
dtt.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [ ]:
dtt.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [ ]:
x=dtt[['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location']]
print(x)
y=dtt[['company_size']]
print(y)

      work_year experience_level employment_type                 job_title  \
0          2023               SE              FT  Principal Data Scientist
1          2023               MI              CT               ML Engineer
2          2023               MI              CT               ML Engineer
3          2023               SE              FT            Data Scientist
4          2023               SE              FT            Data Scientist
...         ...              ...             ...                       ...
3750       2020               SE              FT            Data Scientist
3751       2021               MI              FT  Principal Data Scientist
3752       2020               EN              FT            Data Scientist
3753       2020               EN              CT     Business Data Analyst
3754       2021               SE              FT      Data Science Manager

       salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0       80000             EUR          85847                 ES           100
1       30000             USD          30000                 US           100
2       25500             USD          25500                 US           100
3      175000             USD         175000                 CA           100
4      120000             USD         120000                 CA           100
...       ...             ...            ...                ...           ...
3750   412000             USD         412000                 US           100
3751   151000             USD         151000                 US           100
3752   105000             USD         105000                 US           100
3753   100000             USD         100000                 US           100
3754  7000000             INR          94665                 IN            50

     company_location
0                  ES
1                  US
2                  US
3                  CA
4                  CA
...               ...
3750               US
3751               US
3752               US
3753               US
3754               IN

[3755 rows x 10 columns]
     company_size
0               L
1               S
2               S
3               M
4               M
...           ...
3750            L
3751            L
3752            S
3753            L
3754            L

[3755 rows x 1 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)
print(y)

[0 2 2 ... 2 0 0]

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
le=LabelEncoder()
x['experience_level'] = le.fit_transform(x['experience_level'])
print(x['experience_level'])
le=LabelEncoder()
x['employment_type'] = le.fit_transform(x['employment_type'])
print(x['employment_type'])
le=LabelEncoder()
x['job_title'] = le.fit_transform(x['job_title'])
print(x['job_title'])
le=LabelEncoder()
x['salary_currency'] = le.fit_transform(x['salary_currency'])
print(x['salary_currency'])
le=LabelEncoder()
x['employee_residence'] = le.fit_transform(x['employee_residence'])
print(x['employee_residence'])
le=LabelEncoder()
x['company_location'] = le.fit_transform(x['company_location'])
print(x['company_location'])

0       3
1       2
2       2
3       3
4       3
       ..
3750    3
3751    2
3752    0
3753    0
3754    3
Name: experience_level, Length: 3755, dtype: int64
0       2
1       0
2       0
3       2
4       2
       ..
3750    2
3751    2
3752    2
3753    0
3754    2
Name: employment_type, Length: 3755, dtype: int64
0       84
1       66
2       66
3       47
4       47
        ..
3750    47
3751    84
3752    47
3753    17
3754    45
Name: job_title, Length: 3755, dtype: int64
0        7
1       19
2       19
3       19
4       19
        ..
3750    19
3751    19
3752    19
3753    19
3754    12
Name: salary_currency, Length: 3755, dtype: int64
0       26
1       75
2       75
3       11
4       11
        ..
3750    75
3751    75
3752    75
3753    75
3754    39
Name: employee_residence, Length: 3755, dtype: int64
0       25
1       70
2       70
3       12
4       12
        ..
3750    70
3751    70
3752    70
3753    70
3754    38
Name: company_location, Length: 3755, dtype: int64

<ipython-input-58-9b93366e84bc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['experience_level'] = le.fit_transform(x['experience_level'])
<ipython-input-58-9b93366e84bc>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['employment_type'] = le.fit_transform(x['employment_type'])
<ipython-input-58-9b93366e84bc>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['job_title'] = le.fit_transform(x['job_title'])
<ipython-input-58-9b93366e84bc>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['salary_currency'] = le.fit_transform(x['salary_currency'])
<ipython-input-58-9b93366e84bc>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['employee_residence'] = le.fit_transform(x['employee_residence'])
<ipython-input-58-9b93366e84bc>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['company_location'] = le.fit_transform(x['company_location'])

In [ ]:
print(x)

      work_year  experience_level  employment_type  job_title   salary  \
0          2023                 3                2         84    80000
1          2023                 2                0         66    30000
2          2023                 2                0         66    25500
3          2023                 3                2         47   175000
4          2023                 3                2         47   120000
...         ...               ...              ...        ...      ...
3750       2020                 3                2         47   412000
3751       2021                 2                2         84   151000
3752       2020                 0                2         47   105000
3753       2020                 0                0         17   100000
3754       2021                 3                2         45  7000000

      salary_currency  salary_in_usd  employee_residence  remote_ratio  \
0                   7          85847                  26           100
1                  19          30000                  75           100
2                  19          25500                  75           100
3                  19         175000                  11           100
4                  19         120000                  11           100
...               ...            ...                 ...           ...
3750               19         412000                  75           100
3751               19         151000                  75           100
3752               19         105000                  75           100
3753               19         100000                  75           100
3754               12          94665                  39            50

      company_location
0                   25
1                   70
2                   70
3                   12
4                   12
...                ...
3750                70
3751                70
3752                70
3753                70
3754                38

[3755 rows x 10 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
y = y.astype(int)
y_encoded=to_categorical(y)
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y_encoded,test_size=0.2,random_state=42)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((3004, 10), (751, 10), (3004, 3), (751, 3))

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
model=Sequential()
model.add(Dense(32,input_shape=(X_train.shape[1],),activation='relu'))
#model.add(Dense(1,activation='relu'))
model.add(Dense(3,activation='softmax'))

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
model.summary()

Model: "sequential_10"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_22 (Dense)                     │ (None, 32)                  │             352 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_23 (Dense)                     │ (None, 3)                   │              99 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 451 (1.76 KB)

 Trainable params: 451 (1.76 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
print(x)

      work_year  experience_level  employment_type  job_title   salary  \
0          2023                 3                2         84    80000
1          2023                 2                0         66    30000
2          2023                 2                0         66    25500
3          2023                 3                2         47   175000
4          2023                 3                2         47   120000
...         ...               ...              ...        ...      ...
3750       2020                 3                2         47   412000
3751       2021                 2                2         84   151000
3752       2020                 0                2         47   105000
3753       2020                 0                0         17   100000
3754       2021                 3                2         45  7000000

      salary_currency  salary_in_usd  employee_residence  remote_ratio  \
0                   7          85847                  26           100
1                  19          30000                  75           100
2                  19          25500                  75           100
3                  19         175000                  11           100
4                  19         120000                  11           100
...               ...            ...                 ...           ...
3750               19         412000                  75           100
3751               19         151000                  75           100
3752               19         105000                  75           100
3753               19         100000                  75           100
3754               12          94665                  39            50

      company_location
0                   25
1                   70
2                   70
3                   12
4                   12
...                ...
3750                70
3751                70
3752                70
3753                70
3754                38

[3755 rows x 10 columns]

In [ ]:
print(y)

[0 2 2 ... 2 0 0]

In [ ]:
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])
model.fit(X_train,y_train,epochs=50,batch_size=5,validation_data=(X_test,y_test))

Epoch 1/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7627 - loss: 481.6899 - val_accuracy: 0.8415 - val_loss: 232.8149
Epoch 2/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7621 - loss: 928.4663 - val_accuracy: 0.8362 - val_loss: 284.9100
Epoch 3/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7443 - loss: 317.3309 - val_accuracy: 0.8362 - val_loss: 715.6071
Epoch 4/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7513 - loss: 386.5302 - val_accuracy: 0.8562 - val_loss: 269.4113
Epoch 5/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7638 - loss: 729.0253 - val_accuracy: 0.5779 - val_loss: 286.7353
Epoch 6/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7671 - loss: 98.2258 - val_accuracy: 0.8415 - val_loss: 134.7016
Epoch 7/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7501 - loss: 992.6162 - val_accuracy: 0.1305 - val_loss: 402.5397
Epoch 8/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7446 - loss: 461.4652 - val_accuracy: 0.7949 - val_loss: 204.2359
Epoch 9/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7594 - loss: 219.1030 - val_accuracy: 0.8509 - val_loss: 1184.2920
Epoch 10/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7683 - loss: 478.4558 - val_accuracy: 0.8455 - val_loss: 176.3945
Epoch 11/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7685 - loss: 256.2152 - val_accuracy: 0.8509 - val_loss: 1109.5413
Epoch 12/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7672 - loss: 648.8769 - val_accuracy: 0.8469 - val_loss: 148.2222
Epoch 13/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7617 - loss: 249.8034 - val_accuracy: 0.7750 - val_loss: 231.0215
Epoch 14/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7641 - loss: 432.7215 - val_accuracy: 0.8495 - val_loss: 579.3670
Epoch 15/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7713 - loss: 375.7478 - val_accuracy: 0.7736 - val_loss: 571.0015
Epoch 16/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7015 - loss: 470.2624 - val_accuracy: 0.8322 - val_loss: 382.4995
Epoch 17/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7465 - loss: 282.8784 - val_accuracy: 0.8455 - val_loss: 183.1537
Epoch 18/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7519 - loss: 326.7801 - val_accuracy: 0.7870 - val_loss: 243.7626
Epoch 19/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7458 - loss: 211.6334 - val_accuracy: 0.8389 - val_loss: 839.3589
Epoch 20/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7643 - loss: 944.6400 - val_accuracy: 0.8442 - val_loss: 148.1427
Epoch 21/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7809 - loss: 67.8685 - val_accuracy: 0.8509 - val_loss: 171.1613
Epoch 22/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7567 - loss: 188.5168 - val_accuracy: 0.8509 - val_loss: 222.9049
Epoch 23/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7589 - loss: 251.0375 - val_accuracy: 0.8442 - val_loss: 53.1604
Epoch 24/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7586 - loss: 109.5123 - val_accuracy: 0.8482 - val_loss: 390.4152
Epoch 25/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7884 - loss: 343.5248 - val_accuracy: 0.8109 - val_loss: 88.0381
Epoch 26/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7565 - loss: 74.6754 - val_accuracy: 0.7963 - val_loss: 77.3532
Epoch 27/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7494 - loss: 174.6820 - val_accuracy: 0.8495 - val_loss: 77.5247
Epoch 28/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7643 - loss: 315.3952 - val_accuracy: 0.8402 - val_loss: 177.1290
Epoch 29/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7403 - loss: 94.4660 - val_accuracy: 0.8389 - val_loss: 390.7927
Epoch 30/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7629 - loss: 334.5287 - val_accuracy: 0.8242 - val_loss: 103.9536
Epoch 31/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7558 - loss: 120.5291 - val_accuracy: 0.8309 - val_loss: 36.8117
Epoch 32/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7567 - loss: 146.1650 - val_accuracy: 0.8429 - val_loss: 34.7310
Epoch 33/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7553 - loss: 104.0738 - val_accuracy: 0.8482 - val_loss: 34.3131
Epoch 34/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7507 - loss: 451.1688 - val_accuracy: 0.8096 - val_loss: 274.9245
Epoch 35/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7593 - loss: 194.7627 - val_accuracy: 0.7710 - val_loss: 44.8601
Epoch 36/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7525 - loss: 56.6788 - val_accuracy: 0.8482 - val_loss: 384.3060
Epoch 37/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8095 - loss: 273.5726 - val_accuracy: 0.8389 - val_loss: 771.9936
Epoch 38/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7368 - loss: 588.6824 - val_accuracy: 0.8522 - val_loss: 46.6079
Epoch 39/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7619 - loss: 209.8607 - val_accuracy: 0.0559 - val_loss: 339.3140
Epoch 40/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7114 - loss: 139.3731 - val_accuracy: 0.6711 - val_loss: 425.9523
Epoch 41/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7197 - loss: 230.4402 - val_accuracy: 0.8375 - val_loss: 195.8677
Epoch 42/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7172 - loss: 127.5853 - val_accuracy: 0.8509 - val_loss: 204.8491
Epoch 43/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8172 - loss: 154.4660 - val_accuracy: 0.8016 - val_loss: 13.2113
Epoch 44/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7446 - loss: 159.6512 - val_accuracy: 0.8402 - val_loss: 11.5929
Epoch 45/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7476 - loss: 102.9543 - val_accuracy: 0.7710 - val_loss: 64.9709
Epoch 46/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7139 - loss: 96.9509 - val_accuracy: 0.8442 - val_loss: 102.5200
Epoch 47/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8150 - loss: 68.1577 - val_accuracy: 0.8522 - val_loss: 53.9887
Epoch 48/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7779 - loss: 85.2847 - val_accuracy: 0.7790 - val_loss: 244.8660
Epoch 49/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7488 - loss: 100.3408 - val_accuracy: 0.8482 - val_loss: 156.2522
Epoch 50/50
601/601 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7752 - loss: 53.3100 - val_accuracy: 0.8322 - val_loss: 15.0125

In [ ]:
model.evaluate(X_test,y_test)

24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8217 - loss: 21.7607

[15.012540817260742, 0.8322237133979797]

In [ ]:
print('loss:',model.evaluate(X_test,y_test)[0])
print('accuracy:',model.evaluate(X_test,y_test)[1])

24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8217 - loss: 21.7607
loss: 15.012540817260742
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8217 - loss: 21.7607
accuracy: 0.8322237133979797