In [ ]:
import pandas as pd
dt=pd.read_csv("/content/loan.csv")
print(dt)

      loan_id   no_of_dependents      education  self_employed   income_annum  \
0           1                  2       Graduate             No        9600000
1           2                  0   Not Graduate            Yes        4100000
2           3                  3       Graduate             No        9100000
3           4                  3       Graduate             No        8200000
4           5                  5   Not Graduate            Yes        9800000
...       ...                ...            ...            ...            ...
4264     4265                  5       Graduate            Yes        1000000
4265     4266                  0   Not Graduate            Yes        3300000
4266     4267                  2   Not Graduate             No        6500000
4267     4268                  1   Not Graduate             No        4100000
4268     4269                  1       Graduate             No        9200000

       loan_amount   loan_term   cibil_score   residential_assets_value  \
0         29900000          12           778                    2400000
1         12200000           8           417                    2700000
2         29700000          20           506                    7100000
3         30700000           8           467                   18200000
4         24200000          20           382                   12400000
...            ...         ...           ...                        ...
4264       2300000          12           317                    2800000
4265      11300000          20           559                    4200000
4266      23900000          18           457                    1200000
4267      12800000           8           780                    8200000
4268      29700000          10           607                   17800000

       commercial_assets_value   luxury_assets_value   bank_asset_value  \
0                     17600000              22700000            8000000
1                      2200000               8800000            3300000
2                      4500000              33300000           12800000
3                      3300000              23300000            7900000
4                      8200000              29400000            5000000
...                        ...                   ...                ...
4264                    500000               3300000             800000
4265                   2900000              11000000            1900000
4266                  12400000              18100000            7300000
4267                    700000              14100000            5800000
4268                  11800000              35700000           12000000

      loan_status
0        Approved
1        Rejected
2        Rejected
3        Rejected
4        Rejected
...           ...
4264     Rejected
4265     Approved
4266     Rejected
4267     Approved
4268     Approved

[4269 rows x 13 columns]

In [ ]:
print(dt.isnull().sum())

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

In [ ]:
dt.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [ ]:
x=dt[['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value']]
print(x)

      loan_id   no_of_dependents      education  self_employed   income_annum  \
0           1                  2       Graduate             No        9600000
1           2                  0   Not Graduate            Yes        4100000
2           3                  3       Graduate             No        9100000
3           4                  3       Graduate             No        8200000
4           5                  5   Not Graduate            Yes        9800000
...       ...                ...            ...            ...            ...
4264     4265                  5       Graduate            Yes        1000000
4265     4266                  0   Not Graduate            Yes        3300000
4266     4267                  2   Not Graduate             No        6500000
4267     4268                  1   Not Graduate             No        4100000
4268     4269                  1       Graduate             No        9200000

       loan_amount   loan_term   cibil_score   residential_assets_value  \
0         29900000          12           778                    2400000
1         12200000           8           417                    2700000
2         29700000          20           506                    7100000
3         30700000           8           467                   18200000
4         24200000          20           382                   12400000
...            ...         ...           ...                        ...
4264       2300000          12           317                    2800000
4265      11300000          20           559                    4200000
4266      23900000          18           457                    1200000
4267      12800000           8           780                    8200000
4268      29700000          10           607                   17800000

       commercial_assets_value   luxury_assets_value   bank_asset_value
0                     17600000              22700000            8000000
1                      2200000               8800000            3300000
2                      4500000              33300000           12800000
3                      3300000              23300000            7900000
4                      8200000              29400000            5000000
...                        ...                   ...                ...
4264                    500000               3300000             800000
4265                   2900000              11000000            1900000
4266                  12400000              18100000            7300000
4267                    700000              14100000            5800000
4268                  11800000              35700000           12000000

[4269 rows x 12 columns]

In [ ]:
y=dt[[' loan_status']]
print(y)

      loan_status
0        Approved
1        Rejected
2        Rejected
3        Rejected
4        Rejected
...           ...
4264     Rejected
4265     Approved
4266     Rejected
4267     Approved
4268     Approved

[4269 rows x 1 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)
print(y)

[0 1 1 ... 1 0 0]

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
le=LabelEncoder()
x[' education'] = le.fit_transform(x[' education'])
print(x[' education'])
le=LabelEncoder()
x[' self_employed'] = le.fit_transform(x[' self_employed'])
print(x[' self_employed'])
print(x)

0       0
1       1
2       0
3       0
4       1
       ..
4264    0
4265    1
4266    1
4267    1
4268    0
Name:  education, Length: 4269, dtype: int64
0       0
1       1
2       0
3       0
4       1
       ..
4264    1
4265    1
4266    0
4267    0
4268    0
Name:  self_employed, Length: 4269, dtype: int64
      loan_id   no_of_dependents   education   self_employed   income_annum  \
0           1                  2           0               0        9600000
1           2                  0           1               1        4100000
2           3                  3           0               0        9100000
3           4                  3           0               0        8200000
4           5                  5           1               1        9800000
...       ...                ...         ...             ...            ...
4264     4265                  5           0               1        1000000
4265     4266                  0           1               1        3300000
4266     4267                  2           1               0        6500000
4267     4268                  1           1               0        4100000
4268     4269                  1           0               0        9200000

       loan_amount   loan_term   cibil_score   residential_assets_value  \
0         29900000          12           778                    2400000
1         12200000           8           417                    2700000
2         29700000          20           506                    7100000
3         30700000           8           467                   18200000
4         24200000          20           382                   12400000
...            ...         ...           ...                        ...
4264       2300000          12           317                    2800000
4265      11300000          20           559                    4200000
4266      23900000          18           457                    1200000
4267      12800000           8           780                    8200000
4268      29700000          10           607                   17800000

       commercial_assets_value   luxury_assets_value   bank_asset_value
0                     17600000              22700000            8000000
1                      2200000               8800000            3300000
2                      4500000              33300000           12800000
3                      3300000              23300000            7900000
4                      8200000              29400000            5000000
...                        ...                   ...                ...
4264                    500000               3300000             800000
4265                   2900000              11000000            1900000
4266                  12400000              18100000            7300000
4267                    700000              14100000            5800000
4268                  11800000              35700000           12000000

[4269 rows x 12 columns]

<ipython-input-15-6e0b53e37f3b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[' education'] = le.fit_transform(x[' education'])
<ipython-input-15-6e0b53e37f3b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[' self_employed'] = le.fit_transform(x[' self_employed'])

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x=scaler.fit_transform(x)

In [ ]:
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
y_encoded=to_categorical(y)
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y_encoded,test_size=0.2,random_state=42)
X_train.shape

(3415, 12)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
model=Sequential()
model.add(Dense(32,input_shape=(X_train.shape[1],),activation='relu'))
model.add(Dense(2,activation='relu'))
model.add(Dense(2,activation='softmax'))

NameError: name 'X_train' is not defined

In [ ]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 32)                  │             416 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 2)                   │              66 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 482 (1.88 KB)

 Trainable params: 482 (1.88 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])
model.fit(X_train,y_train,epochs=10,batch_size=10,validation_data=(X_test,y_test))

Epoch 1/10
342/342 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.5806 - loss: 0.7026 - val_accuracy: 0.9063 - val_loss: 0.2997
Epoch 2/10
342/342 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9136 - loss: 0.2586 - val_accuracy: 0.9239 - val_loss: 0.2198
Epoch 3/10
342/342 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9243 - loss: 0.2213 - val_accuracy: 0.9239 - val_loss: 0.2011
Epoch 4/10
342/342 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.9316 - loss: 0.1865 - val_accuracy: 0.9169 - val_loss: 0.1926
Epoch 5/10
342/342 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9307 - loss: 0.1770 - val_accuracy: 0.9227 - val_loss: 0.1821
Epoch 6/10
342/342 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9376 - loss: 0.1810 - val_accuracy: 0.9321 - val_loss: 0.1687
Epoch 7/10
342/342 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9420 - loss: 0.1674 - val_accuracy: 0.9309 - val_loss: 0.1643
Epoch 8/10
342/342 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9515 - loss: 0.1511 - val_accuracy: 0.9344 - val_loss: 0.1613
Epoch 9/10
342/342 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9492 - loss: 0.1475 - val_accuracy: 0.9321 - val_loss: 0.1579
Epoch 10/10
342/342 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9517 - loss: 0.1386 - val_accuracy: 0.9368 - val_loss: 0.1486

In [ ]:
model.evaluate(X_test,y_test)

In [ ]:
print('loss:',model.evaluate(X_test,y_test)[0])
print('accuracy:',model.evaluate(X_test,y_test)[1])

27/27 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9422 - loss: 0.1506
loss: 0.14858192205429077
27/27 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9422 - loss: 0.1506
accuracy: 0.9367681741714478